In [1]:
import pandas as pd
import numpy as np

In [2]:
social_media_df = pd.read_csv('social_media_data.csv')

In [3]:
social_media_df.head()

         date   platform post_type   likes  shares  comments   views
0  2023-05-24    Twitter     image   868.0   238.0     352.0  8836.0
1  2023-02-23    Twitter     image   944.0   610.0     146.0  5554.0
2  2023-03-18  Instagram     image  1067.0   858.0     365.0  4018.0
3  2023-06-12    Twitter      text   780.0   427.0     100.0  6999.0
4  2023-02-03  Instagram      text   836.0   893.0     443.0  5802.0

In [4]:
social_media_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       2000 non-null   object
 1   platform   2000 non-null   object
 2   post_type  2000 non-null   object
 3   likes      1992 non-null   float64
 4   shares     1992 non-null   float64
 5   comments   1992 non-null   float64
 6   views      1990 non-null   float64
dtypes: float64(4), object(3)
memory usage: 109.5+ KB

In [5]:
social_media_df.isnull().sum()

date          0
platform      0
post_type     0
likes         8
shares        8
comments      8
views        10
dtype: int64

In [6]:
views_avg = social_media_df['views'].mean()
views_avg

6966.834673366834

In [7]:
social_media_df['views'] = social_media_df['views'].fillna(views_avg)

In [15]:
shares_avg = social_media_df['shares'].mean()
shares_avg

497.2866465863454

In [17]:
social_media_df['shares'] = social_media_df['shares'].fillna(shares_avg)

In [19]:
likes_avg = social_media_df['likes'].mean()
likes_avg

1289.7951807228915

In [21]:
social_media_df['likes'] = social_media_df['likes'].fillna(likes_avg)

In [23]:
comm_avg = social_media_df['comments'].mean()
comm_avg

305.84789156626505

In [25]:
social_media_df['comments'] = social_media_df['comments'].fillna(comm_avg)

In [27]:
social_media_df.isnull().sum()

date         0
platform     0
post_type    0
likes        0
shares       0
comments     0
views        0
dtype: int64

In [29]:
social_media_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       2000 non-null   object
 1   platform   2000 non-null   object
 2   post_type  2000 non-null   object
 3   likes      2000 non-null   float64
 4   shares     2000 non-null   float64
 5   comments   2000 non-null   float64
 6   views      2000 non-null   float64
dtypes: float64(4), object(3)
memory usage: 109.5+ KB

In [31]:
social_media_df.duplicated().sum()

0

In [33]:
social_media_df['date'] = pd.to_datetime(social_media_df['date'], format='%Y-%m-%d')

In [35]:
social_media_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       2000 non-null   datetime64[ns]
 1   platform   2000 non-null   object
 2   post_type  2000 non-null   object
 3   likes      2000 non-null   float64
 4   shares     2000 non-null   float64
 5   comments   2000 non-null   float64
 6   views      2000 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 109.5+ KB

# What was the total number of likes, shares, comments, and views (for videos) over the year?

In [38]:
total_acts = social_media_df.groupby('post_type')['likes'].sum().reset_index()

total_shares = social_media_df.groupby('post_type')['shares'].sum().reset_index()
total_acts['shares'] = total_shares['shares']

total_comments = social_media_df.groupby('post_type')['comments'].sum().reset_index()
total_acts['comments'] = total_comments['comments']

total_views = social_media_df.groupby('post_type')['views'].sum().reset_index()
total_acts['views'] = total_views['views']

In [40]:
total_acts

  post_type          likes         shares       comments         views
0     image  931089.590361  363227.573293  226123.847892  5.051609e+06
1      text  829751.180723  318813.859940  190515.391566  4.382496e+06
2     video  818749.590361  312531.859940  195056.543675  4.499565e+06

In [42]:
pd.options.display.float_format = '{:.2f}'.format

In [44]:
total_acts

  post_type     likes    shares  comments      views
0     image 931089.59 363227.57 226123.85 5051608.67
1      text 829751.18 318813.86 190515.39 4382495.50
2     video 818749.59 312531.86 195056.54 4499565.17

# Which platform had the highest engagement? (engagement = likes + shares + comments)

In [47]:
total_acts['engagment'] = total_acts['likes'] + total_acts['shares'] + total_acts['comments']
total_acts

  post_type     likes    shares  comments      views  engagment
0     image 931089.59 363227.57 226123.85 5051608.67 1520441.01
1      text 829751.18 318813.86 190515.39 4382495.50 1339080.43
2     video 818749.59 312531.86 195056.54 4499565.17 1326337.99

In [49]:
total_acts.loc[total_acts['engagment'].idxmax()]['post_type']

'image'

# What was the average number of likes, shares, comments, and views per post on each platform?

In [52]:
avg_acts = social_media_df.groupby('platform')['likes'].mean().reset_index()

avg_shares = social_media_df.groupby('platform')['shares'].mean().reset_index()
avg_acts['shares'] = avg_shares['shares']

avg_comments = social_media_df.groupby('platform')['comments'].mean().reset_index()
avg_acts['comments'] = avg_comments['comments']

avg_views = social_media_df.groupby('platform')['views'].mean().reset_index()
avg_acts['views'] = avg_views['views']

avg_acts

              platform   likes  shares  comments   views
0             Facebook 1289.98  513.09    311.15 6984.13
1            Instagram 1305.79  497.37    301.08 6906.15
2  NonExistingPlatform 1150.17  515.83    285.50 6729.17
3              Twitter 1275.02  482.48    305.86 7013.05

# What was the total number of each type of post (video, image, text) on each platform?

In [55]:
types_count = social_media_df.groupby('platform')['post_type'].value_counts().reset_index()
types_count

               platform post_type  count
0              Facebook     image    218
1              Facebook     video    209
2              Facebook      text    204
3             Instagram     image    267
4             Instagram     video    208
5             Instagram      text    203
6   NonExistingPlatform      text      3
7   NonExistingPlatform     video      2
8   NonExistingPlatform     image      1
9               Twitter     image    249
10              Twitter      text    219
11              Twitter     video    217

# Which type of post had the highest average engagement?

In [59]:
type_avg = social_media_df.groupby('post_type')['likes'].mean().reset_index()

avg_shares = social_media_df.groupby('post_type')['shares'].mean().reset_index()
type_avg['shares'] = avg_shares['shares']

avg_comments = social_media_df.groupby('post_type')['comments'].mean().reset_index()
type_avg['comments'] = avg_comments['comments']

avg_views = social_media_df.groupby('post_type')['views'].mean().reset_index()
type_avg['views'] = avg_views['views']

type_avg

  post_type   likes  shares  comments   views
0     image 1266.79  494.19    307.65 6872.94
1      text 1319.16  506.86    302.89 6967.40
2     video 1287.34  491.40    306.69 7074.79

In [61]:
type_avg['engagment'] = type_avg['likes'] + type_avg['shares'] + type_avg['comments']
type_avg

  post_type   likes  shares  comments   views  engagment
0     image 1266.79  494.19    307.65 6872.94    2068.63
1      text 1319.16  506.86    302.89 6967.40    2128.90
2     video 1287.34  491.40    306.69 7074.79    2085.44

In [63]:
type_avg.loc[type_avg['engagment'].idxmax()]['post_type']

'text'

#  What was the total engagement in each quarter of the year?

In [68]:
quarter = []
for date in social_media_df['date']:
    quarter.append(date.quarter)

social_media_df['engagment'] = social_media_df['likes'] + social_media_df['shares'] + social_media_df['comments']
social_media_df['quarter'] = quarter

social_media_df.head()

,date,platform,post_type,likes,shares,comments,views,quarter,engagment
0,2023-05-24,Twitter,image,868.00,238.00,352.00,8836.00,2,1458.00
1,2023-02-23,Twitter,image,944.00,610.00,146.00,5554.00,1,1700.00
2,2023-03-18,Instagram,image,1067.00,858.00,365.00,4018.00,1,2290.00
3,2023-06-12,Twitter,text,780.00,427.00,100.00,6999.00,2,1307.00
4,2023-02-03,Instagram,text,836.00,893.00,443.00,5802.00,1,2172.00

In [70]:
quarter_engagement = social_media_df.groupby('quarter')['engagment'].sum().reset_index(name = 'quarter_revenue')
quarter_engagement

   quarter  quarter_revenue
0        1       1039898.06
1        2       1004265.57
2        3        999403.23
3        4       1142292.57